/**
*
* PresentationApp
*
* Styleguide/grouping order for css attributes:
* - Content, position, display, float, clear, overflow, zoom
* - Width, height, margin, padding
* - Table, column, list
* - Color, font, text, border, background, box-shadow, opacity
* - Cursor, z-index, transform, transition, animation
*/

@import "app/scss/partials/mixins";
@import "app/scss/themes/fonts";

.PresentationApp {
  @include position(absolute);
  background: linear-gradient(to bottom,#574EBF ,#353266 100%);
  z-index: 10;
  font-family: $proxima;
  transition: opacity 0.5s ease-out;

  &.PresentationApp-closed {
    opacity: 0;
  }

  >header {
    @include position(fixed, 0, 0, auto, 0);
    border-bottom: 1px solid #494896;
    background: rgba(#353266, 0.97);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    >ul {
      margin: 0;
      padding: 15px 40px;
      list-style: none;
      display: flex;
      position: relative;
      >li {
        flex: 0 0 auto;
        >button.button {
          @include button-rounded();
        }
        >button.logo {
          display: block;
          background: transparent;
          border: none;
          cursor: pointer;
          outline: none;
          >img {
            width: 192px;
          }
        }
      }
    }
  }

  >section {
    // @include position(absolute, 70px, 0, 0, 0);
    margin-top: 70px;
    >:global(.swiper-container) {
      @include swiper-container();
      >:global(.swiper-wrapper) {
        @include swiper-wrapper();
        >:global(.swiper-slide) {
          @include swiper-slide();
          // overflow: auto;
          align-items: flex-start;
          position: relative;
          >img.slide-bg {
            width: 100%;
            height: auto;
          }
          >.cells {
            @include position(absolute);
            display: flex;
            align-items: stretch;
            text-align: left;
            >.cell {
              flex: 1 1 50%;
              position: relative;
              margin: 6% 0%;
              &.cell-1 {
                margin-left: 5%;
              }
              &.cell-2 {
                margin-right: 5%;
                >img.slide-fg {
                  margin: 0 14% 0 -4%;
                  height: auto;
                }
                >.details {
                  margin: 32px 7% 32px 32%;
                  >.message {
                    color: #FFFFFF;
                    line-height: 1.4;
                    margin-bottom: 36px;
                    font-size: 1.4vw;
                    i {
                      color: rgba(#E2A864,1);
                      text-decoration: none;
                      font-weight: bold;
                      font-style: normal;
                    }

                    a {
                      color: rgba(#5db3ed,0.9);
                      text-decoration: none;
                      font-weight: bold;
                      &:hover {
                        text-decoration: underline;
                        color: rgba(#5db3ed,1);
                      }
                    }

                    p {
                      margin: 1em 0;
                    }
                  }
                  >button.button {
                    @include button-rounded();
                    line-height: 48px;
                    min-width: 160px;
                    &.button-next {
                      background: rgba(#E2A864,0.9);
                      &:hover {
                        background: rgba(#E2A864,1);
                      }
                    }
                    &.button-signin {
                    }
                  }
                }
              }
            }
          }
        }
      }
      >:global(.swiper-pagination) {
        @include swiper-pagination();
        @include position(fixed, auto, 0, 0, 0);
        pointer-events: none;
        bottom: 0px;
        padding: 4vh 4vw;
        text-align: right;
        >:global(.swiper-pagination-bullet) {
          @include swiper-pagination-bullet();
        }
      }
    }
  }
}
